.btn {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: $font-size-16;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.28s;
    user-select: none;
    white-space: nowrap;
    outline: 0;
    border: none;
    padding: 5px 10px;
    background: $orange;
    cursor: pointer;

    &:hover {
        background: darken($orange, 10%);
    }
}