//Font
$font-size: 14px;
$font-size-16: 16px;

// Custom
$flat-size: 30px;
$section-gap: 10px;
$detail-hover-height: 50px;


// Colors
$white: #ffffff;
$grey: #afaeae;
$light-grey: #dfdfdf;
$dark-grey: #a7a6a6;
$orange: #f3c652;
$green: #45c04b;
$purple: #5262f3;
$red: #ff3300;
$black: #000000;