//Font
$font-size: 14px;

// Custom
$flat-size: 30px;
$section-gap: 10px;


// Colors
$white: #fff;
$grey: #afaeae;
$light-grey: #dfdfdf;
$dark-grey: #a7a6a6;
$orange: #f3c652;
$green: rgb(69, 192, 75);
$purple: #5262f3;